@import url('https://fonts.googleapis.com/css2?family=Sansita&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter+Tight&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');

/*=============== VARIABLES CSS ===============*/
:root {
    --header-height: 3.5rem;
  
    /*========== Colors ==========*/
    /*Color mode HSL(hue, saturation, lightness)*/
    --first-color: #8a2435;
    --first-color-alt: hsl(19, 64%, 52%);
    --title-color: hsl(19, 16%, 15%);
    --text-color: hsl(19, 16%, 35%);
    --text-color-light: hsl(19, 8%, 55%);
    --body-color: hsl(19, 100%, 96%);
    --body-color-blur: hsl(17, 66%, 87%);
    --container-color: hsl(19, 100%, 97%);
  
    /*========== Font and typography ==========*/
    /*.5rem = 8px | 1rem = 16px ...*/
    --body-font: "Epilogue", sans-serif;
    --title-font: "Shrikhand", sans-serif;
    --subtitle-font: "Sansita", sans-serif;
    --biggest-font-size: 2.25rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;
  
    /*========== Font weight ==========*/
    --font-medium: 500;
    --font-semi-bold: 600;
  
    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
  }
  @media screen and (min-width: 1024px) {
    :root {
      --biggest-font-size: 4rem;
      --h1-font-size: 2.25rem;
      --h2-font-size: 1.5rem;
      --h3-font-size: 1.25rem;
      --normal-font-size: 1rem;
      --small-font-size: .875rem;
      --smaller-font-size: .813rem;
    }
  }
  
  /*=============== BASE ===============*/
  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  body {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);
    transition: background 0.4s; /* for dark mode animation */
  }
  
  h1, h2, h3 {
    color: var(--title-color);
    font-weight: var(--font-medium);
  }
  
  ul {
    list-style: none;
  }
  
  a {
    text-decoration: none;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
  
  /*=============== THEME ===============*/
  
  
  /*========== Variables Dark theme ==========*/
  
  
  /*========== 
      Color changes in some parts of 
      the website, in light theme
  ==========*/
  
  
  /*=============== REUSABLE CSS CLASSES ===============*/
  .container {
    max-width: 1024px;
    margin-inline: 1.5rem;
  }
  
  .grid {
    display: grid;
    gap: 1.5rem;
  }
  
  .section {
    padding-block: 5rem 1rem;
  }
  
  .section__title {
    font-size: var(--biggest-font-size);
    font-family: var(--title-font);
    margin-bottom: 1.5rem;
  }
  
  .section__subtitle {
    display: block;
    font-size: var(--normal-font-size);
    font-family: var(--subtitle-font);
    margin-bottom: 0.5rem;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 5rem;
  }
  
  .section__title, .section__subtitle {
    text-align: center;
  }
  
  .main {
    overflow: hidden; /* For animation ScrollReveal */
  }
  
/*=============== HEADER & NAV ===============*/
.header{
  z-index: 1;
}
header{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center ;
}

header .nav{
  position: relative;
  display: flex;
  z-index: 2;
}

header .nav li{
  list-style: none;
  margin: 0 10px;
  z-index: 2;
}

header .nav li a{
  color: #8a2435;
  font-family: var(--subtitle-font);
  font-weight: bold;
  text-decoration: none;
  padding: 8px 15px;
  border-radius: 25px;
  font-size: x-large;
  transition: 0.5s;
  z-index: 2;
}

header .nav li a:hover{
  background: #fff;
  box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}

header .btn{
  background: #8a2435;
  color: #fff;
  text-decoration: none;
  padding: 8px 15px;
  border-radius: 25px;
  font-family: var(--subtitle-font);
  font-weight: bold;
  font-size: large;
  transition: 0.5s;
  z-index: 2;
}

header .btn:hover{
  transform: scale(0.9);
}

/*=============== MENY ===============*/
.menupage{
    background: var(--body-color);
}

.blur_clr{
    position: absolute;
    filter: blur(150px);
}

.blur_clr:nth-child(1){
    background: var(--body-color-blur);
    width: 500px;
    height: 500px;
    right: -50px;
    top: -250px;
    z-index: 1;
}

.blur_clr:nth-child(2){
    background: var(--body-color-blur);
    width: 300px;
    height: 300px;
    left: -100px;
    bottom: 550px;
    z-index: 1;
}
.logo{
  align-items: center;
  width: 50px;
  margin-top: 1rem;
  z-index: 2;
}

.topimage{
    display: flex;
    justify-content: center;
    padding-bottom: 40rem;
}

.top__image{
    border-radius: 53% 45% 51% 50% / 47% 51% 50% 54% ;
    width: 400px;
    position: absolute;
    inset: 0;
    top: 10;
    margin: 0 auto;
    margin-top: 10rem;
    transition: transform .4s;
}

.scroll{
    display: flex;
    justify-content: center;
    align-items: center;
}

.scroll a{
    color: #3e130d;
    text-decoration: none;
    display: flex;
    font-family: var(--subtitle-font);
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    align-items: center;
    align-content: center;
    justify-content: center;
    margin-right: 5rem;
}

.scroll a:hover{
    color:#3e130d
}

.meny__container{
    padding-top: 4rem;
    display: flex;
    grid-template-columns: 250px;
    justify-content: center;
    row-gap: 5.5rem;
    place-items: center;
    margin: auto;
}

.meny__title{
    font-size: var(--h2-font-size);
    font-family: var(--title-font);
    margin-top: 6rem;
    margin-bottom: 3rem;
    text-align: center;
    color: var(--title-color);
}

.meny__card{
    position: relative;
    background-color: var(--container-color);
    padding: 7rem 2rem 1.5rem;
    box-shadow: 0 8px 20px hsla(19, 64%, 48%, .08);
    border-radius: 1rem;
    text-align: center;
}

.meny__img{
    width: 220px;
    position: absolute;
    inset: 0;
    top: -7rem;
    margin: 0 auto;
    transition: transform .4s;
}

.meny__name{
    font-size: var(--h3-font-size);
    font-family: var(--subtitle-font);
    margin-bottom: .35rem;
}

.meny__description{
    display: block;
    font-size: var(--smaller-font-size);
    margin-bottom: 2rem;
}

.meny__allergener{
    display: block;
    font-size: var(--smaller-font-size);
    margin-bottom: 1rem;
}

.meny__price{
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium);
    color: var(--first-color);
}

.meny__button{
    display: flex;
    background-color: var(--first-color);
    padding: 6px;
    border-radius: 50%;
    border: none;
    outline: none;
    color: #fff;
    font-size: 1.25rem;
    box-shadow: 0 4px 20px hsla(19, 64%, 20%, .2);
    position: absolute;
    bottom: 1.25rem;
    right: 1.25rem;
    cursor: pointer;
    transition: background .3s;
}

.meny__button:hover{
    background-color: var(--first-color-alt);
}

.meny__card:hover .meny__img{
    transform: translateY(-.25rem);
}

.meny__leaf1, .meny__leaf2, .meny__leaf3{
    position: absolute;
    opacity: .2;
}

.meny__leaf1{
    width: 200px;
    top: 60rem;
    left: -1rem;
    transform: rotate(90deg);
}

.meny__leaf2{
    width: 200px;
    top: 85rem;
    right: -1rem;
    transform: rotate(-50deg);
}

.meny__leaf3{
    width: 200px;
    top: 125rem;
    left: -1rem;
    transform: rotate(90deg);
}



/*=============== FOOTER ===============*/
footer{
  background: var(--body-color);
  color: var(--body-color-blur);
  padding: 3rem 0;
  text-align: center;
  align-items: center;
  margin-top: 2rem;
}

hr{ 
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
  opacity: 0%;
} 
.footercontent h1{
  font-family: "Shrikhand", sans-serif;
  color: var(--title-color);
}
.footercontent h2{
  font-family: "Shrikhand", sans-serif;
  color: var(--title-color);
}
.footercontent h3{
  font-family: "Epilogue", sans-serif;
  font-weight: bold;
  color: black;
}

/*=============== SCROLL BAR ===============*/


/*=============== SCROLL UP ===============*/


/* Show Scroll Up*/


/*=============== BREAKPOINTS ===============*/
/* For small devices */


/* For medium devices */


/* For large devices */