
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Style+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Asset&family=Bungee&family=Bungee+Inline&family=Style+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@900&display=swap');
/*=============== VARIABLES CSS ===============*/
:root {
    --header-height: 3.5rem;
  
    /*========== Colors ==========*/
    /*Color mode HSL(hue, saturation, lightness)*/
    --first-color: #3e130d;;
    --first-color-alt: hsl(19, 64%, 52%);
    --title-color: hsl(19, 16%, 15%);
    --text-color: hsl(19, 16%, 35%);
    --text-color-light: hsl(19, 8%, 55%);
    --body-color: hsl(19, 100%, 96%);
    --body-color-blur: hsl(17, 66%, 87%);
    --container-color: hsl(19, 100%, 97%);
  
    /*========== Font and typography ==========*/
    /*.5rem = 8px | 1rem = 16px ...*/
    --body-font: "Epilogue", sans-serif;
    --title-font: "Shrikhand", sans-serif;
    --subtitle-font: "Sansita", sans-serif;
    --biggest-font-size: 2.25rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;
  
    /*========== Font weight ==========*/
    --font-medium: 500;
    --font-semi-bold: 600;
  
    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
  }
  @media screen and (min-width: 1024px) {
    :root {
      --biggest-font-size: 4rem;
      --h1-font-size: 2.25rem;
      --h2-font-size: 1.5rem;
      --h3-font-size: 1.25rem;
      --normal-font-size: 1rem;
      --small-font-size: .875rem;
      --smaller-font-size: .813rem;
    }
  }
  
  /*=============== BASE ===============*/
  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  body {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);
    transition: background 0.4s; /* for dark mode animation */
  }
  
  h1, h2, h3 {
    color: var(--title-color);
    font-weight: var(--font-medium);
  }
  
  ul {
    list-style: none;
  }
  
  a {
    text-decoration: none;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
  
/*=============== THEME ===============*/
.nav__buttons{
  display: flex;
  align-items: center;
  column-gap: 1rem;
}

.change-theme{
  font-size: 1.25rem;
  color: var(--title-color);
  cursor: pointer;
  transition: color .3s;
}

/*========== Variables Dark theme ==========*/
body.dark-theme{
  --first-color: #ac918d;
  --first-color-alt: hsl(19, 64%, 52%);
  --title-color: hsl(19, 24%, 85%);
  --text-color: hsl(19, 16%, 65%);
  --body-color: hsl(19, 12%, 8%);
  --body-color-blur: hsl(20, 14%, 4%);
  --container-color: hsl(19, 10%, 10%);
  --dark-theme-red: #8a2435;
}

  /*========== 
      Color changes in some parts of 
      the website, in light theme
  ==========*/
  .dark-theme .bg-header,
.dark-theme .nav__menu{
  box-shadow: 0 2px 8 hsla(19, 64%, 4%, .5);
}

.dark-theme .meny__card{
  box-shadow: 0 8px 20px hsla(19, 64%, 4%, .2);
}

.dark-theme ::-webkit-scrollbar{
  background-color: hsl(19, 8%, 15%);
}

.dark-theme ::-webkit-scrollbar-thumb{
  background-color: hsl(19, 8%, 25%); 
}

.dark-theme ::-webkit-scrollbar-thumb:hover{
  background-color: hsl(19, 8%, 35%); 
}
  
  /*=============== REUSABLE CSS CLASSES ===============*/
  .container {
    max-width: 1024px;
    margin-inline: 1.5rem;
  }
  
  .grid {
    display: grid;
    gap: 1.5rem;
  }
  
  .section {
    padding-block: 5rem 1rem;
  }
  
  .section__title {
    font-size: var(--biggest-font-size);
    font-family: var(--title-font);
    margin-bottom: 1.5rem;
  }
  
  .section__subtitle {
    display: block;
    font-size: var(--normal-font-size);
    font-family: var(--subtitle-font);
    margin-bottom: 0.5rem;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 5rem;
  }
  
  .section__title, .section__subtitle {
    text-align: center;
  }
  
  .main {
    overflow: hidden; /* For animation ScrollReveal */
  }


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body, html{
  height: 100%;
  width: 100%;
}
body{
    background-color: #0b0418;
}

html{
    scroll-behavior: smooth;
}

section{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    height: 100%;
    width: 100%;
    position: relative;
}
section .blur_clr{
    position: absolute;
    filter: blur(150px);
}
section .blur_clr:nth-child(1){
    background: #1c0d38;
    width: 500px;
    height: 500px;
    right: -50px;
    top: -250px;
    z-index: 1;
}
section .blur_clr:nth-child(2){
    background: #1c0d38;
    width: 300px;
    height: 300px;
    left: -100px;
    bottom: -150px; 
    z-index: 1;
}

/*=============== HEADER & NAV ===============*/
/*=============== HEADER & NAV ===============*/
.header{
  position: fixed;
  width: 100%;
  background-color: var(--body-color);
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  transition: box-shadow .3s, background .4s;
}

.nav{
  position: relative;
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo, .nav__toggle, .nav__close{
  display: flex;
  color: var(--title-color);
}

.nav__logo{
  align-items: center;
  column-gap: .5rem;
  font-family: var(--title-font);
  font-size: var(--h3-font-size);
  transition: color .3s;
  text-decoration: none;
}

.nav__logo img{
  width: 25px;
}

.nav__logo:hover{
  color: #8a2435;
}

.nav__toggle{
  font-size: 1.25rem;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
    .nav__menu{
        position: fixed;
        top: -100%;
        left: 0;
        background-color: var(--body-color);
        width: 100%;
        box-shadow: 0 8px 20px hsla(19, 64%, 24%, .1);
        padding-block: 3.5rem;
        transition: top .4s;
    }
}

.nav__list{
  display: flex;
  flex-direction: column;
  text-align: center;
  row-gap: 2rem;
  list-style: none;
}

.nav__link{
  color: var(--title-color);
  font-weight: var(--font-medium);
  transition: color .4s;
}

.nav__close{
  position: absolute;
  top: 1rem;
  right: 1.5rem;
  font-size: 1.5rem;
  cursor: pointer;
}

header .nav li a{
  color: #8a2435;
  font-family: var(--subtitle-font);
  font-weight: bold;
  text-decoration: none;
  padding: 8px 15px;
  border-radius: 25px;
  font-size: large;
  transition: 0.5s;
  z-index: 2;
}

header .nav li a:hover{
  background: #fff;
  box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}

header .btn{
  background: #8a2435;
  color: #fff;
  text-decoration: none;
  padding: 8px 15px;
  border-radius: 25px;
  font-family: var(--subtitle-font);
  font-weight: bold;
  font-size: large;
  transition: 0.5s;
  z-index: 2;
}

header .btn:hover{
  transform: scale(0.9);
}

.show-menu{
  top: 0;
}
/*
.nav{
  position: relative;
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*
.nav__logo, .nav__toggle, .nav__close{
  display: flex;
  color: #7b50ca;
}

.header__title{
  position: relative;
  font-family: 'Oswald-bold', sans-serif;
  color: #7b50ca;
  font-weight: bolder;
  text-transform: uppercase;
  text-align: center;
  align-items: center;
  text-decoration: none;
  font-size: 1rem;
}

.nav__logo{
    margin: 0;
    color: #7b50ca;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 5px;
    text-transform: uppercase;
    font-size: 1rem;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: .9px;
    border: thin solid #7b50ca;
    text-align: center;
    padding: 5px;
}

.nav__logo img{
  width: 25px;
}

.nav__logo:hover{
  color: #7b50ca;
}

.nav__toggle{
  font-size: 1.25rem;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
    .nav__menu{
        position: fixed;
        top: -100%;
        left: 0;
        background-color: #0b0418;
        width: 100%;
        box-shadow: 0 8px 20px hsla(19, 64%, 24%, .1);
        padding-block: 3.5rem;
        transition: top .4s;
    }
}

/*
.nav__list{
  display: flex;
  flex-direction: column;
  text-align: center;
  row-gap: 2rem;
  list-style: none;
  z-index: 2;
}

.nav__link{
  color: #7b50ca;
  font-weight: var(--font-medium);
  transition: color .4s;
}

.nav__close{
  position: absolute;
  top: 1rem;
  right: 1.5rem;
  font-size: 1.5rem;
  cursor: pointer;
}

.nav__img-1, .nav__img-2{
  position: absolute;
  opacity: .4;
  z-index: 1;
}

.nav__img-1{
  width: 400px;
  top: -2rem;
  left: -2rem;
}

.nav__img-2{
  width: 400px;
  bottom: 0;
  right: -2rem;
}

header .nav li a{
  color: #7b50ca;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
  padding: 8px 15px;
  border-radius: 25px;
  font-size: large;
  transition: 0.5s;
  z-index: 2;
}

header .nav li a:hover{
  background: #fff;
  box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}

/*
header .btn{
  background: #7b50ca;
  color: #fff;
  text-decoration: none;
  padding: 8px 15px;
  border-radius: 25px;
  font-family: var(--subtitle-font);
  font-weight: bold;
  font-size: large;
  transition: 0.5s;
  z-index: 2;
}

header .btn:hover{
  transform: scale(0.9);
}

.show-menu{
  top: 0;
}*/

/*

header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    /*padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
}

header .logo{
    margin: 0;
    color: #7b50ca;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 1rem;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: .9px;
    border: thin solid #7b50ca;
    text-align: center;
}

header ul{
    display: flex;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    justify-content: center;
    align-items: right;
    text-decoration: none;
}

header ul li{
    list-style: none;
    margin-left: 10px;
}

header ul li a{
    text-decoration: none;
    color: #7b50ca;
    font-weight: bolder;
    padding: 6px 15px;
    border-radius: 20px;
    font-size: 10px;
    text-align: center;
}

header ul li a:hover{
    background: #fff;
    color: #1c0d38;
}

.main{
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 100px;
}

.header__title{
    position: relative;
    font-family: 'Oswald-bold', sans-serif;
    color: #7b50ca;
    font-weight: bolder;
    text-transform: uppercase;
    text-align: center;
    align-items: center;
    text-decoration: none;
    font-size: .5rem;
}
*/

/* ================= BEVEGENDE TEXT =============== */

div {
    will-change: transform;
  }

  .container {
    max-width: 1024px;
    margin-inline: 1.5rem;
  }
  
  .section {
    padding-block: 5rem 1rem;
  }

  .overskrift{
    position: relative;
    top: -10rem;
  }

  .overskrift__grid{
    justify-content: center;
  }
  
  #ui {
    transform-style: preserve-3d;
  }
  #ui .text {
    position: absolute;
    font-size: 10rem;
    color: #fff;
    line-height: 10rem;
    font-family: "Anton", sans-serif;
    padding: 20px 0;
    mix-blend-mode: screen;
    transform-style: preserve-3d;
  }
  #ui .text:nth-child(1) {
    -webkit-clip-path: polygon(-30% 0, -20% 0, 20% 100%, 0% 100%);
            clip-path: polygon(-30% 0, -20% 0, 20% 100%, 0% 100%);
    -webkit-animation: wave 2000ms -10000ms ease-in-out infinite alternate;
            animation: wave 2000ms -10000ms ease-in-out infinite alternate;
  }
  #ui .text:nth-child(2) {
    -webkit-clip-path: polygon(-25% 0, -15% 0, 25% 100%, 5% 100%);
            clip-path: polygon(-25% 0, -15% 0, 25% 100%, 5% 100%);
    -webkit-animation: wave 2000ms -9800ms ease-in-out infinite alternate;
            animation: wave 2000ms -9800ms ease-in-out infinite alternate;
  }
  #ui .text:nth-child(3) {
    -webkit-clip-path: polygon(-20% 0, -10% 0, 30% 100%, 10% 100%);
            clip-path: polygon(-20% 0, -10% 0, 30% 100%, 10% 100%);
    -webkit-animation: wave 2000ms -9600ms ease-in-out infinite alternate;
            animation: wave 2000ms -9600ms ease-in-out infinite alternate;
  }
  #ui .text:nth-child(4) {
    -webkit-clip-path: polygon(-15% 0, -5% 0, 35% 100%, 15% 100%);
            clip-path: polygon(-15% 0, -5% 0, 35% 100%, 15% 100%);
    -webkit-animation: wave 2000ms -9400ms ease-in-out infinite alternate;
            animation: wave 2000ms -9400ms ease-in-out infinite alternate;
  }
  #ui .text:nth-child(5) {
    -webkit-clip-path: polygon(-10% 0, 0% 0, 40% 100%, 20% 100%);
            clip-path: polygon(-10% 0, 0% 0, 40% 100%, 20% 100%);
    -webkit-animation: wave 2000ms -9200ms ease-in-out infinite alternate;
            animation: wave 2000ms -9200ms ease-in-out infinite alternate;
  }
  #ui .text:nth-child(6) {
    -webkit-clip-path: polygon(-5% 0, 5% 0, 45% 100%, 25% 100%);
            clip-path: polygon(-5% 0, 5% 0, 45% 100%, 25% 100%);
    -webkit-animation: wave 2000ms -9000ms ease-in-out infinite alternate;
            animation: wave 2000ms -9000ms ease-in-out infinite alternate;
  }
  #ui .text:nth-child(7) {
    -webkit-clip-path: polygon(0% 0, 10% 0, 50% 100%, 30% 100%);
            clip-path: polygon(0% 0, 10% 0, 50% 100%, 30% 100%);
    -webkit-animation: wave 2000ms -8800ms ease-in-out infinite alternate;
            animation: wave 2000ms -8800ms ease-in-out infinite alternate;
  }
  #ui .text:nth-child(8) {
    -webkit-clip-path: polygon(5% 0, 15% 0, 55% 100%, 35% 100%);
            clip-path: polygon(5% 0, 15% 0, 55% 100%, 35% 100%);
    -webkit-animation: wave 2000ms -8600ms ease-in-out infinite alternate;
            animation: wave 2000ms -8600ms ease-in-out infinite alternate;
  }
  #ui .text:nth-child(9) {
    -webkit-clip-path: polygon(10% 0, 20% 0, 60% 100%, 40% 100%);
            clip-path: polygon(10% 0, 20% 0, 60% 100%, 40% 100%);
    -webkit-animation: wave 2000ms -8400ms ease-in-out infinite alternate;
            animation: wave 2000ms -8400ms ease-in-out infinite alternate;
  }
  #ui .text:nth-child(10) {
    -webkit-clip-path: polygon(15% 0, 25% 0, 65% 100%, 45% 100%);
            clip-path: polygon(15% 0, 25% 0, 65% 100%, 45% 100%);
    -webkit-animation: wave 2000ms -8200ms ease-in-out infinite alternate;
            animation: wave 2000ms -8200ms ease-in-out infinite alternate;
  }
  #ui .text:nth-child(11) {
    -webkit-clip-path: polygon(20% 0, 30% 0, 70% 100%, 50% 100%);
            clip-path: polygon(20% 0, 30% 0, 70% 100%, 50% 100%);
    -webkit-animation: wave 2000ms -8000ms ease-in-out infinite alternate;
            animation: wave 2000ms -8000ms ease-in-out infinite alternate;
  }
  #ui .text:nth-child(12) {
    -webkit-clip-path: polygon(25% 0, 35% 0, 75% 100%, 55% 100%);
            clip-path: polygon(25% 0, 35% 0, 75% 100%, 55% 100%);
    -webkit-animation: wave 2000ms -7800ms ease-in-out infinite alternate;
            animation: wave 2000ms -7800ms ease-in-out infinite alternate;
  }
  #ui .text:nth-child(13) {
    -webkit-clip-path: polygon(30% 0, 40% 0, 80% 100%, 60% 100%);
            clip-path: polygon(30% 0, 40% 0, 80% 100%, 60% 100%);
    -webkit-animation: wave 2000ms -7600ms ease-in-out infinite alternate;
            animation: wave 2000ms -7600ms ease-in-out infinite alternate;
  }
  #ui .text:nth-child(14) {
    -webkit-clip-path: polygon(35% 0, 45% 0, 85% 100%, 65% 100%);
            clip-path: polygon(35% 0, 45% 0, 85% 100%, 65% 100%);
    -webkit-animation: wave 2000ms -7400ms ease-in-out infinite alternate;
            animation: wave 2000ms -7400ms ease-in-out infinite alternate;
  }
  #ui .text:nth-child(15) {
    -webkit-clip-path: polygon(40% 0, 50% 0, 90% 100%, 70% 100%);
            clip-path: polygon(40% 0, 50% 0, 90% 100%, 70% 100%);
    -webkit-animation: wave 2000ms -7200ms ease-in-out infinite alternate;
            animation: wave 2000ms -7200ms ease-in-out infinite alternate;
  }
  #ui .text:nth-child(16) {
    -webkit-clip-path: polygon(45% 0, 55% 0, 95% 100%, 75% 100%);
            clip-path: polygon(45% 0, 55% 0, 95% 100%, 75% 100%);
    -webkit-animation: wave 2000ms -7000ms ease-in-out infinite alternate;
            animation: wave 2000ms -7000ms ease-in-out infinite alternate;
  }
  #ui .text:nth-child(17) {
    -webkit-clip-path: polygon(50% 0, 60% 0, 100% 100%, 80% 100%);
            clip-path: polygon(50% 0, 60% 0, 100% 100%, 80% 100%);
    -webkit-animation: wave 2000ms -6800ms ease-in-out infinite alternate;
            animation: wave 2000ms -6800ms ease-in-out infinite alternate;
  }
  #ui .text:nth-child(18) {
    -webkit-clip-path: polygon(55% 0, 65% 0, 105% 100%, 85% 100%);
            clip-path: polygon(55% 0, 65% 0, 105% 100%, 85% 100%);
    -webkit-animation: wave 2000ms -6600ms ease-in-out infinite alternate;
            animation: wave 2000ms -6600ms ease-in-out infinite alternate;
  }
  #ui .text:nth-child(19) {
    -webkit-clip-path: polygon(60% 0, 70% 0, 110% 100%, 90% 100%);
            clip-path: polygon(60% 0, 70% 0, 110% 100%, 90% 100%);
    -webkit-animation: wave 2000ms -6400ms ease-in-out infinite alternate;
            animation: wave 2000ms -6400ms ease-in-out infinite alternate;
  }
  #ui .text:nth-child(20) {
    -webkit-clip-path: polygon(65% 0, 75% 0, 115% 100%, 95% 100%);
            clip-path: polygon(65% 0, 75% 0, 115% 100%, 95% 100%);
    -webkit-animation: wave 2000ms -6200ms ease-in-out infinite alternate;
            animation: wave 2000ms -6200ms ease-in-out infinite alternate;
  }
  #ui .text:nth-child(21) {
    -webkit-clip-path: polygon(70% 0, 80% 0, 120% 100%, 100% 100%);
            clip-path: polygon(70% 0, 80% 0, 120% 100%, 100% 100%);
    -webkit-animation: wave 2000ms -6000ms ease-in-out infinite alternate;
            animation: wave 2000ms -6000ms ease-in-out infinite alternate;
  }
  #ui .text:nth-child(22) {
    -webkit-clip-path: polygon(75% 0, 85% 0, 125% 100%, 105% 100%);
            clip-path: polygon(75% 0, 85% 0, 125% 100%, 105% 100%);
    -webkit-animation: wave 2000ms -5800ms ease-in-out infinite alternate;
            animation: wave 2000ms -5800ms ease-in-out infinite alternate;
  }
  #ui .text:nth-child(23) {
    -webkit-clip-path: polygon(80% 0, 90% 0, 130% 100%, 110% 100%);
            clip-path: polygon(80% 0, 90% 0, 130% 100%, 110% 100%);
    -webkit-animation: wave 2000ms -5600ms ease-in-out infinite alternate;
            animation: wave 2000ms -5600ms ease-in-out infinite alternate;
  }
  #ui .text:nth-child(24) {
    -webkit-clip-path: polygon(85% 0, 95% 0, 135% 100%, 115% 100%);
            clip-path: polygon(85% 0, 95% 0, 135% 100%, 115% 100%);
    -webkit-animation: wave 2000ms -5400ms ease-in-out infinite alternate;
            animation: wave 2000ms -5400ms ease-in-out infinite alternate;
  }
  #ui .text:nth-child(25) {
    -webkit-clip-path: polygon(90% 0, 100% 0, 140% 100%, 120% 100%);
            clip-path: polygon(90% 0, 100% 0, 140% 100%, 120% 100%);
    -webkit-animation: wave 2000ms -5200ms ease-in-out infinite alternate;
            animation: wave 2000ms -5200ms ease-in-out infinite alternate;
  }
  #ui .text:nth-child(26) {
    -webkit-clip-path: polygon(95% 0, 105% 0, 145% 100%, 125% 100%);
            clip-path: polygon(95% 0, 105% 0, 145% 100%, 125% 100%);
    -webkit-animation: wave 2000ms -5000ms ease-in-out infinite alternate;
            animation: wave 2000ms -5000ms ease-in-out infinite alternate;
  }
  
  @-webkit-keyframes wave {
    0% {
      transform: translate(-50%, -50%) scale(0.9) rotateX(20deg) rotateY(20deg) rotateZ(0deg);
      color: #238f54;
    }
    100% {
      transform: translate(-50%, -50%) scale(1.1) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
      color: #7b50ca;
    }
  }
  
  @keyframes wave {
    0% {
      transform: translate(-50%, -50%) scale(0.9) rotateX(20deg) rotateY(20deg) rotateZ(0deg);
      color: #238f54;
    }
    100% {
      transform: translate(-50%, -50%) scale(1.1) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
      color: #7b50ca;
    }
  }


/*==================== UNDEROVERSKRIFT ======================*/

.underoverskrift{
    top: -40rem;
    padding: 0;
}

  .underoverskrift__grid{
    padding: 10px 0;
    margin: 0 auto;
    grid-template-columns: 250px;
    justify-content: center;
    row-gap: 7.5rem;
    grid-template-columns: repeat(3, auto);
    display: grid;
    gap: 2rem;
  }

  .venstre__info{
    width: auto;
    height: auto;
    position: relative;
    font-size: .9rem;
    color: #7b50ca;
    font-family: 'Oswald', sans-serif;
    font-weight: bolder;
    text-transform: uppercase;
    justify-content: center;
    align-items: right;
    text-decoration: none;
  }

  .midten__info{
    width: auto;
    height: auto;
    position: relative;
    font-size: 3rem;
    color: #77d1b8;
    font-family: 'Oswald', sans-serif;
    font-weight: bolder;
    text-transform: uppercase;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding-left: 1rem;
    padding-right: 1rem;
    font-style: italic;
    top: -1rem;
  }


  .høyre__info{
    width: auto;
    height: auto;
    position: relative;
    font-size: .9rem;
    color: #7b50ca;
    font-family: 'Oswald', sans-serif;
    font-weight: bolder;
    text-transform: uppercase;
    justify-content: center;
    align-items: left;
    text-decoration: none;
  }



/*====================== HOVEDBILDE ========================*/

.bilder{
    top: -50rem;
    padding: 0;
    z-index: 2;
}

.bilder__grid{
    padding: 10px 0;
    margin: 0 auto;
    grid-template-columns: 250px;
    justify-content: center;
    row-gap: 7.5rem;
    grid-template-columns: repeat(3, auto);
    display: flex;
  }

  .venstre__unlocked{
    color: #7b50ca;
    font-family: 'Orbitron', sans-serif;
    font-size: 10rem;
    text-transform: uppercase;
    letter-spacing: 3px;
    position: absolute;
    bottom: -14rem;
    left: 0;
    margin-left: -185px;
    transform: rotate(270deg);
    transform-origin: 0 0;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1.5px;
    transition: 1s;
  }

.distorted__grid{
    opacity: .4;
    width: 1000px;
    border: 5px solid #7b50ca;
    box-shadow: #7b50ca 0px 3px 8px;
    border-radius: 2px;
}

  .høyre__unlocked{
    color: #7b50ca;
    font-family: 'Orbitron', sans-serif;
    font-size: 10rem;
    text-transform: uppercase;
    letter-spacing: 3px;
    position: absolute;
    top: 0;
    right: 0;
    margin-right: -78rem;
    transform: rotate(-270deg);
    transform-origin: 0 0;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1.5px;
  }

  .soda{
    top: -160rem;
    padding: 0;
    z-index: 6;
}

.soda__grid{
    padding: 10px 0;
    margin: 0 auto;
    grid-template-columns: auto;
    justify-content: center;
    display: flex;
  }

  .sodaimg{
    width: 200rem;
    position: absolute;
    transform: rotate(15deg);
  }

  .soda__glitch{
    top: -200rem;
    padding: 0;
    z-index: 5;
}

.soda__glitchgrid{
    padding: 10px 0;
    margin: 0 auto;
    width: 500px;
    grid-template-columns: auto;
    justify-content: center;
    display: flex;
  }

  .soda__glitchimg{
    width: 295rem;
    position: absolute;
    opacity: .8;
  }

  .soda__circle{
    top: -230rem;
    padding: 0;
    z-index: 6;
  }

  .soda__circlegrid{
    padding: 10px 0;
    margin: 0 auto;
    grid-template-columns: auto;
    justify-content: center;
    display: flex;
  }

  .soda__circleimg{
    width: 100rem;
    position: absolute;
    transform: rotate(15deg);
  }














/*
  .bilde__info{
    position: relative;
    padding-top: 4rem;
    justify-content: center;
    align-items: center;
  }
.soda__grid{
    display: flex;
    z-index: 1;
    justify-content: center;
    align-items: center;
    height: 800px;
}

.soda__gridimg{
    width: 40%;
    height: 800px;
    top: auto;
}

.soda{
    display: flex;
    z-index: 2;
    justify-content: center;
    align-items: center;
    height: 800px;
}

.sodaimg{
    width: 40%;
    height: 800px;
    top: auto;
}

.soda__glitch{
    display: flex;
    z-index: 2;
    justify-content: center;
    align-items: center;
    height: 800px;
}

.soda__glitchimg{
    width: 40%;
    height: 800px;
    top: auto;
}

  /*
  .soda__grid{
    width: 700px;
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    inset: 0;
    /*top: 9rem;
    transition: transform .4s;
    opacity: .4;
    z-index: 1;
  }

  .soda{
    width: 2200px;
    inset: 0;
    top: 65rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    transition: transform .4s;
    opacity: .4;
    z-index: 6;
  }*/